body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(135deg, #f0f0f0, #c9d6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.result-popup {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup form {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.popup input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.popup button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  margin: 2rem 0;
  border: 3px solid rgba(0, 0, 0, 0.297);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  background-color: rgb(5, 5, 5);
}

.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  border: 1px solid black;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.square:hover {
  background-color: #f0f0f0;
  transform: translateY(-3px);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.score-table {
  border-collapse: collapse;
  box-shadow: 5px 4px 16px rgba(0, 0, 0, 0.1);
}

.score-table th,
.score-table td {
  padding: 0.5rem 4rem;
  border: 1px solid #ccc;
}

.score-table th {
  background-color: #f0f0f0;
}

.score-table button {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 4px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
